{% extends 'base.html' %}
{% block content %}
    <h1>HOME PAGE</h1>

        <ul>
            {% for person in people %}
                {% if person == 'Tito' %}
                    <li>
                        <strong>
                            {{ person }}
                        </strong>
                    </li>

                {% else %}
                    <li>
                        {{ person }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
{% endblock %}